@page "/clases/nueva"
@page "/clases/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigationManager
@inject IRepositorioClases _repositorioClases

<PageTitle>Clases</PageTitle>
<h3>@_titulo clase</h3>

<EditForm Model="_clase" FormName="frmClase" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <InputText id="inputNombre" class="form-control" @bind-Value="_clase.Nombre" />
            <ValidationMessage For="@(() => _clase.Nombre)" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Clase _clase = new();
    private string _titulo = "Nueva";

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _clase = await _repositorioClases.Get(Id);
            _titulo = "Modificar";
        }
    }

    private void Guardar()
    {
        if (Id > 0)
        {
            _repositorioClases.Update(_clase);
        }
        else
        {
            _repositorioClases.Add(_clase);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigationManager.NavigateTo("/clases");
    }
}
